
.blog-image-cs {
    max-height: 320px;
    max-width: 379px;
    width: 100%;
    height: 100%;
    object-fit: initial;
}

.trashbin-icon {
    width: 41px;
    display: flex;
    justify-content: space-between;
}
.react-slider {
    width: 100% !important;
    max-width: 560px !important;
}
.react-slider__ul {
    padding-left: unset !important;
}

.react-slider img {
    max-width: 560px !important;
    max-height: 528px !important;
    object-fit: cover;
}

.MuiSlider-root {
    color: rgb(18 76 85) !important;
}


.Mui-focused {
    color: #124c55 !important;
}
.Mui-selected {
    background-color: #087C12 !important;
    color: #fff !important;
}
.address_select_product {
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 14px !important;
}
.address_select_product {
    margin-bottom: 10px !important;
}
.address_select_product:last-child {
    margin-bottom: unset !important;
}
#demo-multiple-name-label {
    font-size: 16px !important;
    font-family: inherit !important;
    color: #124c55 !important;
}
#demo-multiple-name  {
    color: #124c55;
    position: relative;
    z-index: 2;
    top: -7px;
    font-size: 16px;
}

.istShertleri{
    text-decoration: none;
    color: #196d79;
    font-weight: 700;
    margin-bottom: 20px;
}
.istifadeci{
    display: flex;
align-items: center;
cursor: pointer !important;
margin-bottom: 20px;
}
.istifadeci__input{
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.ig-instagram-link video{
    max-height: 300px !important;
}
.cntner{
    display: flex;
    justify-content: center;

}
 .errorImage{
     margin-top: 15px;
     margin-bottom: 15px;
 }
@media screen and (max-width: 1290px) {
    .react-slider__ul li {
        width: 120px !important;
        height: 64px !important;
    }
    .react-slider__ul li img {
        width: 100% !important;
        height: 100% !important;
    }
}
@media screen and (max-width: 1180px) {
    .react-slider__ul li {
        width: 110px !important;
        height: 64px !important;
    }
}
@media screen and (max-width: 1090px) {
    .react-slider__ul li {
        width: 100px !important;
        height: 64px !important;
    }
}
@media screen and (max-width: 1090px) {
    .react-slider__ul li {
        width: 95px !important;
        height: 64px !important;
    }
}
@media screen and (max-width: 991px) {
    .product-image-pp-cs {
        max-width: unset !important;
    }
    .react-slider {
        width: 100% !important;
        max-width: unset !important;
    }
    .react-slider__ul li {
        width: 224px !important;
        height: 112px !important;
    }
    .react-slider img {
        width: 100%;
        max-width: unset !important;
    }
    .react-slider__areaZoom img {
        object-fit: contain;
    }
}
@media screen and (max-width: 970px) {
    .react-slider__ul li {
        width: 210px !important;
        height: 112px !important;
    }
}
@media screen and (max-width: 920px) {
    .react-slider__ul li {
        width: 200px !important;
        height: 112px !important;
    }
}
@media screen and (max-width: 880px) {
    .react-slider__ul li {
        width: 190px !important;
        height: 112px !important;
    }
}
@media screen and (max-width: 850px) {
    .react-slider__ul li {
        width: 170px !important;
        height: 112px !important;
    }
}
@media screen and (max-width: 770px) {
    .react-slider__ul li {
        width: 160px !important;
        height: 112px !important;
    }
}
@media screen and (max-width: 730px) {
    .react-slider__ul li {
        width: 150px !important;
        height: 112px !important;
    }
}
@media screen and (max-width: 690px) {
    .react-slider__ul li {
        width: 140px !important;
        height: 112px !important;
    }
}
@media screen and (max-width: 635px) {
    .react-slider__ul li {
        width: 120px !important;
        height: 64px !important;
    }
}
@media screen and (max-width: 570px) {
    .react-slider__ul li {
        width: 100px !important;
        height: 64px !important;
    }
}
@media screen and (max-width: 470px) {
    .react-slider__ul li {
        width: 90px !important;
        height: 64px !important;
    }
}
@media screen and (max-width: 414px) {
    .react-slider__ul li {
        width: 73px !important;
        height: 64px !important;
    }
}
@media screen and (max-width: 350px) {
    .react-slider__ul li {
        width: 50px !important;
        height: 64px !important;
    }
}

.Mui-focused {
    color: #124c55 !important;
}
.Mui-selected {
    background-color: #124c55 !important;
    color: #fff !important;
}
.address_select_product {
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 14px !important;
}
.address_select_product {
    margin-bottom: 10px !important;
}
.address_select_product:last-child {
    margin-bottom: unset !important;
}
#demo-multiple-name-label {
    font-size: 16px !important;
    font-family: inherit !important;
    color: #124c55 !important;
}
#demo-multiple-name  {
    color: #124c55;
    position: relative;
    z-index: 2;
    top: -7px;
    font-size: 16px;
}
.social-grid-insta-feed {
    display: flex !important;
    align-items: center !important;
    justify-items: unset !important;
    grid-column-gap: unset !important;
    grid-template-columns: unset !important;
    grid-template-rows: unset !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    justify-content: center;
    min-width: 250px;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.social-grid-insta-feed div {
    justify-content: space-between;
    flex-wrap: nowrap !important;
}
.social-grid-insta-feed div div {
    flex-basis: unset !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 11px;
}
.social-grid-insta-feed div div img {
    height: 100%;
    max-height: 300px;
    width: 100%;
    max-width: 300px;
}
.social-grid-insta-feed div div a div {
    display: none !important;
}
.social-grid-insta-feed::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}
.social-grid-insta-feed::-webkit-scrollbar-track {
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}
.social-grid-insta-feed::-webkit-scrollbar-track:hover {
    background-color: #fff
}
.social-grid-insta-feed::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius: 16px;
    border: 5px solid #fff
}
.social-grid-insta-feed::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border: 4px solid #f4f4f4
}
.social-grid-insta-feed::-webkit-scrollbar-button {
    display: none;
}
.hero-grid {
    -webkit-animation: flash 0.75s;
    animation: flash 0.75s;
}
@-webkit-keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.muiSelect .MuiInputBase-input {
    position: relative;
    z-index: 2;
}